.social-buttons {
  display: flex;
}

.social-button {
  flex: 1;
  border-radius: 4px;
  cursor: pointer;
  padding: 1vh;
  text-decoration: none;
  transition: all 1s ease-out;

  &:hover {
    color: var(--white);
  }
}

.social-button__title {
  margin-left: 5px;

  @media only screen and (max-width: 840px) {
    display: none;
  }
}

.social-button__icon {
  @media only screen and (max-width: 840px) {
    font-size: 3em;
  }
}

.social-button--blue {
  background: var(--darkblue);
  color: var(--offwhite);

  &:hover {
    background: var(--darkerblue);
  }
}

.social-button--teal {
  background: var(--teal);
  color: var(--offwhite);

  &:hover {
    background: var(--darkteal);
  }
}

.social-button--green {
  background: var(--gray);
  color: var(--green);

  &:hover {
    background: var(--darkgray);
  }
}

.social-button--purple {
  background: var(--purple);
  color: var(--offwhite);

  &:hover {
    background: var(--darkpurple);
  }
}

.social-button--yellow {
  background: var(--yellow);
  color: var(--black);

  &:hover {
    background: var(--darkgray);
    color: var(--offwhite);
  }
}
