.contact-page {}
.contact-page .page__content {
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
  .contact-page__video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-427vh) translateY(-30%) scale(5);
    background-size: cover;
    background-color: black;
  }

.role {
  font-style: normal;
}
  .role__title {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
  }
  .role__name {
    display: none;
    color: gray;
  }
  .role__email {
    a {
      color: white;
    }
  }
