.event {
  margin: 0 auto;
  text-align: center;
}

.event__flyer {}

.event__image {
  max-height: 45vh;
  max-width: 30vw;
}

.event__info {
  display: none;
}

.event__metadata {

  dt {
    font-weight: bold;
    text-align: right;
  }
}
