.email-signup {
  background: black;
  color: white;
  padding-bottom: 5vh;

  input[type="email"] {
    margin-top: 3vh;
    background: #333;
    border: 1px solid #ccc;
    color: #fff;
  }

  button {
    border: 0;
    background: #333;
    color: white;
    padding: 4px;
    cursor: pointer;
    margin-left: 1vw;
  }
}

.email-signup__title {
  text-align: center;
  padding-top: 1vh;
}

.email-signup__form {
  text-align: center;
}
