.email-signup {
  background: black;
  color: white;
  margin: 0 auto;
}
  .email-signup__title {
    text-align: center;
    padding-top: 1vh;
  }

  .email-signup__fields {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 23% 10% 33%;
    padding-bottom: 1vh;
  }

  .email-signup__verification {
    display: none;
  }
  .email-signup__response {
    .response {
      display: none;
    }
  }
  .email-signup__field {
    input {
    }

    label {
    }
  }
  .email-signup__button {
    display: inline-block;
  }
