.email-signup {
  background: black;
  color: white;
  padding-bottom: 5vh;

  input[type="email"] {
    margin-top: 3vh;
  }
}
  .email-signup__title {
    text-align: center;
    padding-top: 1vh;
  }

  .email-signup__form {
    text-align: center;
  }
