.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  font-size: 2.8em;
}
  .header__logo-wrapper {
    font-family: var(--delhi);
    text-transform: uppercase;
    transform: rotate(-15deg);
    padding: 10vh 4vh 1vh;
    right: 6vh;
    position: relative;
    top: -22vh;
    width: 97vw;
    z-index: -1;
  }

  .header__logo-text {
    background-color: white;
    right: 5vw;
    position: relative;
    padding-left: 6vw;
    border-radius: 1vh;
    border: 0.4vw solid var(--red);

    width: 200vw;

    a {
      color: var(--red);
      text-decoration: none;
    }
  }

  .header__hamburger-button {
    z-index: 2;
  }
