.volume-button {
  position: absolute;
  top: 0;
  border: 0;
  background: black;
  color: white;
  font-size: 3em;
  padding: .5vh 1vh 1vh;
  cursor: pointer;
  margin: 1vh;
  border-radius: 15px;
  opacity: .2;
  transition: opacity .5s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
