:root {
  /* colors */
  --black: #000;
  --teal: #008080;
  --white: #fff;
  --lightblue: #add8e6;
  --darkblue: #00008b;
  --green: #90ee90;
  --gray: #333;
  --purple: purple;
  --darkerblue: #000065;
  --darkteal: #005a5a;
  --darkgray: #342424;
  --lightgray: lightgray;
  --darkpurple: #610078;
  --offwhite: #f8f8ff;
  --red: #f00;
  --yellow: #ffff64;

  /* fonts */
  --mosk: 'Mosk', sans-serif;
  --delhi: 'Delhi', sans-serif;
  --jaapokki: 'Jaapokki Regular', sans-serif;

  /* variables */
  --base-font-size: 18px;
  --base-font-family: var(--mosk);
  --primary-color: #000;
  --background-color: #000;
}
