:root {
  /* colors */
  --black: #000;
  --teal: #008080;
  --white: #FFF;
  --lightblue: #ADD8E6;
  --darkblue: #00008B;
  --green: #90EE90;
  --gray: #333;
  --purple: purple;
  --darkerblue: #000065;
  --darkteal: #005A5A;
  --darkgray: #342424;
  --lightgray: lightgray;
  --darkpurple: #610078;
  --offwhite: #f8f8ff;
  --red: #FF0000;

  /* fonts */
  --mosk: 'Mosk', sans-serif;
  --delhi: 'Delhi', sans-serif;
  --jaapokki: 'Jaapokki Regular', sans-serif;

  /* variables */
  --base-font-size: 18px;
  --base-font-family: var(--mosk);
  --primary-color: #000;
  --background-color: #000;

}
